@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

/* Configuration Tailwind v4 avec @theme */
@theme {
    --breakpoint-fhd: 120rem;
    --breakpoint-fhdp: 120.01rem;
    --breakpoint-2k: 160rem;
    --breakpoint-2kp: 160.01rem;
    --breakpoint-uhd: 240rem;
    --breakpoint-uhdp: 240.01rem;
    --breakpoint-4k: 320rem;
    --breakpoint-4kp: 320.01rem;
    --breakpoint-2uhd: 480rem;
    --breakpoint-2uhdp: 480.01rem;

    --text-10xl: 12rem;

    --color-lcol1: #E7000B;
    --color-lcol2: #F54900;
    --color-lcol3: #FF6900;
    --color-dcol1: #175DFC;
    --color-dcol2: #9610F7;
    --color-dcol3: #AD46FF;

    --color-dbg: #1a1a30;
    --color-dbg2: #101030;
    --color-dbg3: #1a151c;
    --color-dbg4: #22222a;
    --color-dbg5: #1e1e25;
    --color-dt1: white;
    --color-dt2: black;
    --color-dt3: #cccccc;

    --color-lbg: #fffafa;
    --color-lbg2: white;
    --color-lbg3: white;
    --color-lbg4: #fafaf8;
    --color-lbg5: white;
    --color-lt1: black;
    --color-lt2: white;
    --color-lt3: #555555;

}
